<h2>Pirate</h2>
<h3>Name: <%= @pirate.name %> </h3>
<h3>Weight: <%= @pirate.weight %> </h3>
<h3>Height: <%= @pirate.height %> </h3>

<h2>Ships</h2>
<% @ships.each_with_index do |ship, idx| %>
  <h4>Ship #<%= idx + 1 %> </h4>
  <p>Name: <%= ship.name %> </p>
  <p>Type: <%= ship.type %> </p>
  <p>Booty: <%= ship.booty %> </p>
<% end %>